<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head th:replace="plantillas/plantilla1 ::head">
    </head>
    <body>
        <div class="container mt-3 py-3 bg-light rounded-3">
            <header th:replace="plantillas/plantilla1 ::header"></header>
            <h1 class="card-header">Gestión de Clientes</h1>
            
            <div class="row">
                <div class="col-10 mx-auto">
                    <form th:action="@{/guardarCliente}" method="post" th:object="${cliente}">
                        <input type="hidden" name="idCliente" th:field="*{idCliente}"/>
                        <div class="form-group">
                            <label for="nombre" class="form-label">Nombre:</label>
                            <input type="text" name="nombre" class="form-control" th:field="*{nombre}">
                                <span class="font-italic text-danger" 
                                      th:if="${#fields.hasErrors('nombre')}" 
                                      th:errors="*{nombre}">
                                </span>    
                        </div>

                        <div class="form-group">
                            <label for="apellido" class="form-label">Apellido:</label>
                            <input type="text" name="apellido" class="form-control" th:field="*{apellido}">
                                <span class="font-italic text-danger" 
                                      th:if="${#fields.hasErrors('apellido')}" 
                                      th:errors="*{apellido}">
                                </span>    
                        </div>

                        <div class="form-group">
                            <label for="email" class="form-label">Email:</label>
                            <input type="text" name="email" class="form-control" th:field="*{email}">
                                <span class="font-italic text-danger" 
                                      th:if="${#fields.hasErrors('email')}" 
                                      th:errors="*{email}">
                                </span>    
                        </div>

                        <div class="form-group">
                            <label for="telefono" class="form-label">Teléfono:</label>
                            <input type="text" name="telefono" class="form-control" th:field="*{telefono}">
                        </div>

                        <div class="form-group">
                            <label for="limiteCredito" class="form-label">Límite de Crédito:</label>
                            <input type="text" name="limiteCredito" class="form-control" th:field="*{limiteCredito}">
                                <span class="font-italic text-danger" 
                                      th:if="${#fields.hasErrors('limiteCredito')}" 
                                      th:errors="*{limiteCredito}">
                                </span>    
                        </div>

                        <div class="mt-3">
                            <input type="submit" value="Guardar" class="btn btn-primary" name="btnGuardar"/>
                            <a th:href="@{/clientes}" class="btn btn-warning">Regresar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>
