<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

    <head th:replace="plantillas/plantilla1 ::head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="container">
            <header th:replace="plantillas/plantilla1 ::header">

            </header>
            <div class="card text-center">
                <div class="card-header">
                    <h1 class="card-header">Systema de Ventas</h1>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Bla bla bla</h5>
                    <p class="card-text">Página Principal.</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
                <div class="card-footer text-muted">
                    2 days ago
                </div>
            </div>
        </div>
    </body>
</html>
