<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
    </head>
    <body>
        <h1>Systema de Ventas</h1>
        <ol>
            <li><a th:href="@{/clientes}">Clientes</a></li>
            <li>second</li>
            <li>third</li>

        </ol>

    </body>
</html>
