<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

    <head th:replace="plantillas/plantilla1 ::head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="container">
            <header th:replace="plantillas/plantilla1 ::header"></header>
            <h1>Lista de Clientes</h1>
            <div class="row mt-2 mb-2">
                <div class="col-10">
                    <form th:action="@{/filtrarClientes}" method="post">
                        <div class="input-group">
                            <input type="text" name="txtTexto" 
                                   placeholder="Escriba Nombre o Apellido"
                                   class="form-control"/>
                            <input type="submit" name="btnFiltrar"
                                   class="btn btn-primary" value="Buscar"/>
                        </div>
                    </form>
                </div>
                <div class="col-2">
                    <a th:href="@{/nuevoCliente}" class="btn btn-primary mx-auto"><i class="fas fa-user-plus"></i>Nuevo Cliente</a>
                </div>
            </div>
            <div th:if="${clientes != null and !clientes.empty}">
                <table class="table table-hover table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>Id</th>
                            <th>Nombre</th>
                            <th>Apellido</th>
                            <th>Email</th>
                            <th>Teléfono</th>
                            <th>Limite Credito</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cli:${clientes}">
                            <td th:text ="${cli.idCliente}"></td>
                            <td th:text ="${cli.nombre}"></td>
                            <td th:text ="${cli.apellido}"></td>
                            <td th:text ="${cli.email}"></td>
                            <td th:text ="${cli.telefono}"></td>
                            <td th:text ="${cli.limiteCredito}"></td>
                            <td>
                                <a th:href="@{/editarCliente/} + ${cli.idCliente}">
                                    <i class="fas fa-user-edit"></i>Editar</a> |
                                <a th:href="@{/eliminarCliente(idCliente=${cli.idCliente})}">
                                    <i class="fas fa-user-slash"></i>Eliminar</a>
                            </td>
                        </tr>

                    </tbody>

                </table>
            </div>
            <div th:if="${clientes == null or clientes.empty}">
                No hay Clientes en la Base de Datos
            </div>
        </div>
    </body>
</html>
