<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

    <head th:replace="plantillas/plantilla1 ::head">
        <title>TODO supply a title</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>
    <body>
        <div class="container">
            <header th:replace="plantillas/plantilla1 ::header"></header>
            <h1>Lista de Productos</h1>
            <div th:if="${productos != null and !productos.empty}">
                <table class="table table-hover table-striped">
                    <thead class="table-dark">
                        <tr>
                            <th>Id</th>
                            <th>Descripción</th>
                            <th>Precio</th>
                            <th>Existencia</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="item:${productos}">
                            <td th:text ="${item.idProducto}"></td>
                            <td th:text ="${item.descripcion}"></td>
                            <td th:text ="${item.precio}"></td>
                            <td th:text ="${item.existencia}"></td>
                            
                        </tr>

                    </tbody>

                </table>
            </div>
            <div th:if="${productos == null or productos.empty}">
                No hay Clientes en la Base de Datos
            </div>
        </div>
    </body>
</html>
